{% extends 'base.html' %}
{% block content %}
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a href="{% url 'index' %}" class="active item" id='home'>Home</a>
      <a href="{% url 'page' %}" class="item" id='plan-a'>PlanA</a>
      <a href="{% url 'page-b' %}" class="item" id='plan-b'>PlanB</a>
      <a href="{% url 'playbox' %}" class="item">PlayBox</a>
    </div>
  </div>
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">Welcome back, designer!</h1>
      <h2>Click to select one mode.</h2>
      <br>
      <a href="{% url 'page' %}" id="button-a" class="ui massive inverted teal button">PlanA</a>
      <a href="{% url 'grid-b' %}" id="button-b" class="ui massive inverted orange button">PlanB</a>
    </div>
  </div>

  <script type="text/javascript">
    var utterThis = new window.SpeechSynthesisUtterance();
    utterThis.text = 'Press one or two to select a plan. Press "h" to get help.';
    utterThis.lang = 'en';
    window.speechSynthesis.speak(utterThis);
    $(document).keydown(function (event) {
      event.preventDefault();
    })
    $('#home').focus(function() {
      utterThis.text = 'home';
      window.speechSynthesis.speak(utterThis);
    });
    $('#plan-a').focus(function() {
      utterThis.text = 'plan a';
      window.speechSynthesis.speak(utterThis);
    });
    $('#plan-b').focus(function() {
      utterThis.text = 'plan b';
      window.speechSynthesis.speak(utterThis);
    });
    $('#button-a').focus(function() {
      utterThis.text = 'plan a';
      window.speechSynthesis.speak(utterThis);
    });
    $('#button-b').focus(function() {
      utterThis.text = 'plan b';
      window.speechSynthesis.speak(utterThis);
    });
    $(document).keydown(function (event) {
      if (event.keyCode === 220) { // Enter
        if (utterThis.text === "plan a") {
          window.location.href = "{% url 'page' %}";
        } else if (utterThis.text === "plan b") {
          window.location.href = "{% url 'grid-b' %}";
        }
      } else if (event.keyCode === 49) {   // plan a
        utterThis.text = 'plan a';
        window.speechSynthesis.speak(utterThis);
      } else if (event.keyCode === 50) { // plan b
        utterThis.text = 'plan b';
        window.speechSynthesis.speak(utterThis);
      } else if (event.keyCode === 72) { // H: help
        utterThis.text = 'help';
        window.speechSynthesis.speak(utterThis);
        window.location.href = "{% url 'help1' %}";
      }
    });
  </script>
{% endblock %}
