{% extends 'base.html' %}
{% block content %}
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a href="{% url 'index' %}" class="item" id='home'>Home</a>
      <a href="{% url 'page' %}" class="active item" id='plan-a'>PlanA</a>
      <a href="{% url 'grid-b' %}" class="item" id='plan-b'>PlanB</a>
    </div>
  </div>
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <br><br>
      <h2>Specify the size and content of button widget.</h2>
      <div class="ui text container">
        <div class="ui divided grid">
          <div class="eight wide column">
            <div class="widget">
              <a class="image">
                <img src="/static/button.png">
              </a>
            </div>
          </div>
          <div class="eight wide column">
            <form method="post" action="{% url 'pic' %}" class="ui inverted form" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="field">
                <label>Size</label>
                <div class="two fields">
                  <div class="field">
                    <div class="ui big left icon input">
                      <input type="text" name="width" id="width" placeholder="Width" required/>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui big input">
                      <input type="text" name="height" id="height" placeholder="Height" required/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Name</label>
                <div class="ui big input">
                  <input type="text" name="text" id="text" placeholder="Please input the button text..." required/>
                </div>
              </div>
              <div class="field">
                <label>Color</label>
                <select class="ui search dropdown" id="background-color" name="background-color">
                  <option value="#B03060">red</option>
                  <option value="#FE9A76">orange</option>
                  <option value="#FFD700">yellow</option>
                  <option value="#32CD32">olive</option>
                  <option value="#FE9A76">orange</option>
                  <option value="#016936">green</option>
                  <option value="#008080">teal</option>
                  <option value="#0E6EB8">blue</option>
                  <option value="#EE82EE">violet</option>
                  <option value="#B413EC">purple</option>
                  <option value="#FF1493">pink</option>
                  <option value="#A52A2A">brown</option>
                  <option value="#A0A0A0">grey</option>
                  <option value="#000000">black</option>
                </select>
              </div>
              <div class="ui center aligned container">
                <br>
                <button type="submit" class="ui huge teal button" href="{% url 'grid' %}" id="confirm">Confirm
                </button>
                <a class="ui huge inverted orange basic button" onclick="window.history.go(-1)" id="back">Back</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var utterThis = new window.SpeechSynthesisUtterance();
    utterThis.text = 'specify the size and content of picture widget';
    window.speechSynthesis.speak(utterThis);
    $('#home').focus(function() {
      utterThis.text = 'home';
      window.speechSynthesis.speak(utterThis);
    });
    $('#plan-a').focus(function() {
      utterThis.text = 'plan a';
      window.speechSynthesis.speak(utterThis);
    });
    $('#plan-b').focus(function() {
      utterThis.text = 'plan b';
      window.speechSynthesis.speak(utterThis);
    });
    $('#width').focus(function() {
      utterThis.text = 'width';
      window.speechSynthesis.speak(utterThis);
    });
    $('#height').focus(function() {
      utterThis.text = 'height';
      window.speechSynthesis.speak(utterThis);
    });
    $('#name').focus(function() {
      utterThis.text = 'name';
      window.speechSynthesis.speak(utterThis);
    });
    $('#upload_pic').focus(function() {
      utterThis.text = 'upload picture';
      window.speechSynthesis.speak(utterThis);
    });
    $('#confirm').focus(function() {
      utterThis.text = 'confirm';
      window.speechSynthesis.speak(utterThis);
    });
    $('#back').focus(function() {
      utterThis.text = 'back';
      window.speechSynthesis.speak(utterThis);
    });
    $(document).keydown(function (event) {
      if (event.keyCode === 220) {   // \: enter
        if (utterThis.text === "confirm") {
          $("#confirm").click();
        } else if (utterThis.text === "back") {
          window.location.href = "{% url 'page' %}";
        }
      }
    });
  </script>
{% endblock %}
