<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <link rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
  <script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <script type="text/javascript" src="/static/function.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <title>SPRITEs</title>
</head>
<body>
<div class="ui inverted vertical masthead segment">
  <section id="content">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a href="{% url 'index' %}" class="active item">Home</a>
        <a href="{% url 'select' %}" class="item">PlanA</a>
        <a href="{% url 'select' %}" class="item">PlanB</a>
      </div>
    </div>
  </section>
  <div class="page">
    <div class="content" id="main">
      <canvas id="canvas_up"></canvas>
      <canvas id="canvas_down"></canvas>
    </div>
  </div>

  <div class="ui center aligned container">
    <br><br>
    <button type="submit" class="ui huge teal button" href="{% url 'grid' %}"><i class="send icon"></i>Confirm
    </button>
    <a class="ui huge inverted orange basic button" href="{% url 'select' %}">Back</a>
  </div>
</div>
</body>
</html>

<script type="text/javascript">

  (function () {
  var can1, can2;   //canvas_up, canvas_down
  var ctx1, ctx2;   //two brushes
  var canWid, canHei;  //canvas width, height
  var blockWid, blockHei;  // block width, height
  var lastframetime, diffframetime = 0;  // time of last frame, diff of two frames
  var playerOb;  //object
  var keysDown;      //keys information
  var areaX = 0, areaY = 0; //position of edit area
  var areaW, areaH;  // size of edit area
  var status = 0;
  // ***************************************init, judges*******
  // *****************************************************************************************************************
  window.sprites = {};
  sprite.getReady = function () {
    can1 = document.getElementById('canvas_up');
    ctx1 = can1.getContext('2d');  //canvas up
    can2 = document.getElementById('canvas_down');
    ctx2 = can2.getContext('2d');   //canvas down
    can1.addEventListener('click', sprites.onClick, false);

    canWid = can1.width;
    canHei = can1.height;

    ctx2.fillStyle = "#1b1c1d";
    ctx2.fillRect(0, 0, canWid, canHei);

    areaW = $("#canvas_up").width();
    areaH = $("#canvas_up").height();

    blockWid = areaW / 40;
    blockHei = areaH / 20;

    can2App.drawBackgorund();


    {% if type == 'text'%}
      ctx2.fillStyle = "rgba(255, 215, 0, " + 0.8 + ")";
      ctx2.fillRect(0, 0, blockWid * parseInt({{ width }}), blockHei * parseInt({{ height }}));
      ctx2.textAlign = 'center';
      ctx2.font = '12px verdana';
      ctx2.fillStyle = "rgba(255, 255, 255, " + 1 + ")";
      ctx2.fillText("{{ content }}", 0.5 * blockWid * parseInt({{ width }}), 0.5 * blockHei * parseInt({{ height }}));
    {% endif %}

    // ctx2.fillStyle = "rgba(255, 215, 0, " + 0.8 + ")";
    // ctx2.fillRect(0, canHei * 0.5, canWid, 150);
    // ctx2.textAlign = 'center';
    // ctx2.font = '90px verdana';
    // ctx2.fillStyle = "rgba(255, 255, 255, " + 1 + ")";
    // ctx2.fillText("SMOVE", canWid * 0.5, canHei * 0.5 - 50);
    // ctx2.shadowBlur = 10;
    // ctx2.shadowColor = "white";
    // ctx2.font = '50px verdana';
    // ctx2.fillText("Start Game", canWid * 0.5, canHei * 0.5 + 180);

  };

  sprites.init = function () {
    ctx1.fillStyle = 'white';
    ctx1.font = '20px 微软雅黑';
    ctx1.textAlign = 'center';

    ctx2.shadowBlur = 0;
    ctx2.shadowColor = "black";

    for (var i = 1; i < 10; i++) {
      scale[i] = 0;
    }
    scale[0] = 400;

    // Handle keyboard controls
    addEventListener("keydown", function (e) {
      keysDown = e.keyCode;
      update();
    }, false);

    playerOb = new playerObject();
    playerOb.init();

  };

  sprites.gameLoop = function () {   // draw all the time
    requestAnimFrame(sprites.gameLoop);
    var now = Date.now();    //time up to now
    diffframetime = now - lastframetime;
    lastframetime = now;

    ctx2.clearRect(0, 0, canWid, canHei);    //clear canvas bottom
    can2App.drawBackgorund();
    ctx1.clearRect(0, 0, canWid, canHei);    //clear canvas up
    playerOb.drawPlayer();
    if (status == 0) {
    }
  };

{#  sprites.onClick = function () {#}
{#    if (status == 0) {#}
{#      status = 1;#}
{#      sprites.init();#}
{#      lastframetime = Date.now();#}
{#      sprites.gameLoop();#}
{#    }#}
{#    else if (status == 2) { #}
{#      status = 1;#}
{#      playerOb.init();#}
{#      pauseTime = 80;#}
{#    }#}
{#  };#}


  update = function () {
    if (38 == keysDown && playerOb.line != 0) { // Player up
      playerOb.line--;
    }
    if (40 == keysDown && playerOb.line != 2) { // Player down
      playerOb.line++;
    }
    if (37 == keysDown && playerOb.row != 0) { // Player left
      playerOb.row--;
    }
    if (39 == keysDown && playerOb.row != 2) { // Player holding right
      playerOb.row++;
    }
    if (32 == keysDown) {
      status = 1;
    }
  };

  // ******************************************************* draw on canvas down **********************
  window.can2App = {};
  // *********************************************************************draw background****************************************
  can2App.drawBackgorund = function () {
{#    ctx2.fillStyle = "#1b1c1d";#}
{#    ctx2.fillRect(0, 0, canWid, canHei);#}

    ctx2.strokeStyle = "#f5f5f5";

    ctx2.lineWidth = 1;

    ctx2.beginPath();
    ctx2.moveTo(areaX, areaY + 0.2 * areaH);
    ctx2.lineTo(areaX + areaW, areaY + 0.2 * areaH);
    ctx2.stroke();

    ctx2.beginPath();
    ctx2.moveTo(areaX + 8, areaY + 0.667 * areaH);
    ctx2.lineTo(areaX + areaW - 8, areaY + 0.667 * areaH);
    ctx2.stroke();

    ctx2.beginPath();
    ctx2.moveTo(areaX + 0.333 * areaW, areaY + 8);
    ctx2.lineTo(areaX + 0.333 * areaW, areaY + areaH - 8);
    ctx2.stroke();

    ctx2.beginPath();
    ctx2.moveTo(areaX + 0.667 * areaW, areaY + 8);
    ctx2.lineTo(areaX + 0.667 * areaW, areaY + areaH - 8);
    ctx2.stroke();
  };


  //***************************************************************draw canvas up****************
  // **********************************************************************************************************
  window.can1App = {};

  //********************************************************************//define editing object*********************
  var playerObject = function () {
    this.x = 0;
    this.y = 0;
    this.line = 0;
    this.row = 0;
  };

  playerObject.prototype.init = function () {
    this.line = parseInt(Math.random() * 100) % 3;
    this.row = parseInt(Math.random() * 100) % 3;
    this.x = areaX + (2 * this.row + 1) * (areaW / 6);
    this.y = areaY + (2 * this.line + 1) * (areaH / 6);
  };

  playerObject.prototype.drawPlayer = function () {
    this.x = areaX + (2 * this.row + 1) * (areaW / 6);
    this.y = areaY + (2 * this.line + 1) * (areaH / 6);
    if (status == 0) {
      ctx1.beginPath();
      ctx1.arc(this.x, this.y, 25, 0, 360, false);
      ctx1.fillStyle = "gold";
      ctx1.fill(); // draw circle
      ctx1.closePath();
    }
  };

})();

  sprites.getReady();

</script>