{% extends 'base.html' %}
{% block content %}
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a href="{% url 'index' %}" class="item">Home</a>
      <a href="{% url 'select' %}" class="active item">PlanA</a>
      <a href="{% url 'select' %}" class="item">PlanB</a>
    </div>
  </div>
  <div class="ui inverted vertical masthead segment">
    {% for item in pic %}
      <div class="pic-block" x="{{ item.block.pos_x }}" y="{{ item.block.pos_y }}" width="{{ item.block.width }}" height="{{ item.block.height }}">
        <img src=".{{ item.content.url }}">
      </div>
    {% endfor %}
    {% for item in text %}
      <div class="text-block" x="{{ item.block.pos_x }}" y="{{ item.block.pos_y }}" width="{{ item.block.width }}" height="{{ item.block.height }}"
           style="font-size: {{ item.font_size }}; color: {{ item.font_color }}; background-color: {{ item.block.color }}">
        {{ item.content }}
      </div>
    {% endfor %}
    {% if type == "text" %}
      <div class="text-block current">{{ object.content }}</div>
    {% endif %}
    {% if type == "pic" %}
      <div class="pic-block current">
        <img src=".{{ object.content.url }}">
      </div>
    {% endif %}
    <table border="1" class="grid-table">
      {#      <td width="25% " rowspan="2"> 　</td>#}
      {#      <td width="25% " colspan="2"> 　</td>#}
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
    </table>
    <div class="ui center aligned container">
      <br><br>
      <button type="submit" class="ui huge teal button" href="{% url 'grid' %}"><i class="send icon"></i>Confirm
      </button>
      <a class="ui huge inverted orange basic button" href="{% url 'select' %}">Back</a>
    </div>
  </div>

  <script type="text/javascript" src="/static/jquery-buzz.js"></script>
  <script type="text/javascript" src="/static/sound.js"></script>
  <script type="text/javascript">
    var unitWidth = $(".grid-table").width() / 10;
    var unitHeight = $(".grid-table").height() / 5;
    var marginLeft, marginTop, width, height;
    $(".text-block").each(function(){
      marginLeft = (parseInt($(this).attr("x")) * unitWidth).toString() + 'px';
      $(this).css("margin-left", marginLeft);
      marginTop = (parseInt($(this).attr("y")) * unitHeight + 20).toString() + 'px';
      $(this).css("margin-top", marginTop);
      width = (parseInt($(this).attr("width")) * 10).toString() + 'vw';
      $(this).css("width", width);
      height = "calc(" + (parseInt($(this).attr("height")) * 20).toString() + 'vh - ' + (parseInt($(this).attr("height")) * 44).toString() + 'px)';
      $(this).css("height", height);
    });
    $(".pic-block").each(function(){
      marginLeft = (parseInt($(this).attr("x")) * unitWidth).toString() + 'px';
      $(this).css("margin-left", marginLeft);
      marginTop = (parseInt($(this).attr("y")) * unitHeight + 20).toString() + 'px';
      $(this).css("margin-top", marginTop);
      width = (parseInt($(this).attr("width")) * 10).toString() + 'vw';
      $(this).css("width", width);
      height = "calc(" + (parseInt($(this).attr("height")) * 20).toString() + 'vh - ' + (parseInt($(this).attr("height")) * 44).toString() + 'px)';
      $(this).css("height", height);
    });
    var blockWidth = parseInt({{ object.block.width }});
    var blockHeight = parseInt({{ object.block.height }});
    var type = "{{ type }}";
    if (type === "text") {
      marginLeft = (parseInt({{ object.block.pos_x }}) * unitWidth).toString() + 'px';
      $(".current").css("margin-left", marginLeft);
      marginTop = (parseInt({{ object.block.pos_y }}) * unitHeight + 20).toString() + 'px';
      $(".current").css("margin-top", marginTop);
      width = (blockWidth * 10).toString() + 'vw';
      $(".current").css("width", width);
      height = "calc(" + (blockHeight * 20).toString() + 'vh - ' + (blockHeight * 44).toString() + 'px)';
      $(".current").css("height", height);
      $(".current").css("font-size", "{{ object.font_size }}");
      $(".current").css("color", "{{ object.font_color }}");
      $(".current").css("background-color", "{{ object.block.color }}");
    } else if (type === "pic") {
      marginLeft = (parseInt({{ object.block.pos_x }}) * unitWidth).toString() + 'px';
      $(".current").css("margin-left", marginLeft);
      marginTop = (parseInt({{ object.block.pos_y }}) * unitHeight + 20).toString() + 'px';
      $(".current").css("margin-top", marginTop);
      width = (blockWidth * 10).toString() + 'vw';
      $(".current").css("width", width);
      height = "calc(" + (blockHeight * 20).toString() + 'vh - ' + (blockHeight * 44).toString() + 'px)';
      $(".current").css("height", height);
    }
    var curRow = 0, curColumn = 0;
    var margin;
    $(document).keydown(function (event) {
      {#      var left = $(".text-block").css("margin-left");#}
      {#      left = parseFloat(left.slice(0, -2));#}
      unitWidth = $(".grid-table").width() / 10;
      unitHeight = $(".grid-table").height() / 5;
      playMoveSound();
      if (event.keyCode === 37) {   // left
        if (curColumn > 0) {
          curColumn--;
          margin = (curColumn * unitWidth).toString() + 'px';
          $(".current").css("margin-left", margin);
        }
      } else if (event.keyCode === 39) { // right
        if (curColumn + blockWidth < 10) {
          curColumn++;
          margin = (curColumn * unitWidth).toString() + 'px';
          $(".current").css("margin-left", margin);
        }
      } else if (event.keyCode === 38) {   // up
        if (curRow > 0) {
          curRow--;
          margin = (curRow * unitHeight + 20).toString() + 'px';
          $(".current").css("margin-top", margin);
        }
      } else if (event.keyCode === 40) { // down
        if (curRow + blockHeight < 5) {
          curRow++;
          margin = (curRow * unitHeight + 20).toString() + 'px';
          $(".current").css("margin-top", margin);
        }
      } else if (event.keyCode === 32) {   // space: set position
        $.post("{% url 'grid' %}",{'x':curColumn, 'y':curRow, 'id': {{object.block.id}}}, function(e){
        });
      }
    });
  </script>
{% endblock %}

