{% extends 'base.html' %}
{% block content %}
  <div class="ui inverted vertical masthead segment">
    <div class="text-block">text test</div>
    <div class="pic-block">
      <img src="/static/pic-test.png">
    </div>
    <table border="1" class="grid-table">
      {#      <td width="25% " rowspan="2"> 　</td>#}
      {#      <td width="25% " colspan="2"> 　</td>#}
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
    </table>
    <div class="ui center aligned container">
      <br><br>
      <button type="submit" class="ui huge teal button" href="{% url 'grid' %}"><i class="send icon"></i>Confirm
      </button>
      <a class="ui huge inverted orange basic button" href="{% url 'select' %}">Back</a>
    </div>
  </div>

  <script type="text/javascript" src="/static/jquery-buzz.js"></script>
  <script type="text/javascript" src="/static/sound.js"></script>
  <script type="text/javascript">
    var curRow = 0, curColumn = 0;
    var margin;
    $(document).keydown(function (event) {
      {#      var left = $(".text-block").css("margin-left");#}
      {#      left = parseFloat(left.slice(0, -2));#}
      var blockWidth = $(".grid-table").width() / 10;
      var blockHeight = $(".grid-table").height() / 5;
      playMoveSound();
      if (event.keyCode == 37) {   // left
        if (curColumn > 0) {
          curColumn--;
          margin = (curColumn * blockWidth).toString() + 'px';
          $(".text-block").css("margin-left", margin);
        }
      } else if (event.keyCode == 39) { // right
        if (curColumn < 9) {
          curColumn++;
          margin = (curColumn * blockWidth).toString() + 'px';
          $(".text-block").css("margin-left", margin);
        }
      } else if (event.keyCode == 38) {   // up
        if (curRow > 0) {
          curRow--;
          margin = (curRow * blockHeight + 20).toString() + 'px';
          $(".text-block").css("margin-top", margin);
        }
      } else if (event.keyCode == 40) { // down
        if (curRow < 4) {
          curRow++;
          margin = (curRow * blockHeight + 20).toString() + 'px';
          $(".text-block").css("margin-top", margin);
        }
      }
    });
  </script>
{% endblock %}

