{% extends 'base.html' %}
{% block content %}
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a href="{% url 'index' %}" class="item">Home</a>
      <a href="{% url 'select' %}" class="active item">PlanA</a>
      <a href="{% url 'grid-b' %}" class="item">PlanB</a>
    </div>
  </div>
  <div class="ui inverted vertical masthead segment grid-page">
    {% for item in pic %}
      <div class="pic-block" x="{{ item.block.pos_x }}" y="{{ item.block.pos_y }}"
        width="{{ item.block.width }}" height="{{ item.block.height }}" id="{{ item.block.id }}">
        <img src=".{{ item.content.url }}">
      </div>
    {% endfor %}
    {% for item in text %}
      <div class="text-block" x="{{ item.block.pos_x }}" y="{{ item.block.pos_y }}"
          width="{{ item.block.width }}" height="{{ item.block.height }}" id="{{ item.block.id }}"
          style="font-size: {{ item.font_size }}; color: {{ item.font_color }}; background-color: {{ item.block.color }};">
        {{ item.content }}
      </div>
    {% endfor %}
    {% if type == "text" %}
      <div class="text-block current" x="{{ object.block.pos_x }}" y="{{ object.block.pos_y }}"
          width="{{ object.block.width }}" height="{{ object.block.height }}" id="{{ object.block.id }}"
          style="font-size: {{ object.font_size }}; color: {{ object.font_color }}; background-color: {{ object.block.color }};">
        {{ object.content }}</div>
    {% endif %}
    {% if type == "pic" %}
      <div class="pic-block current" x="{{ object.block.pos_x }}" y="{{ object.block.pos_y }}"
          width="{{ object.block.width }}" height="{{ object.block.height }}" id="{{ object.block.id }}">
        <img src=".{{ object.content.url }}">
      </div>
    {% endif %}
    <table border="1" class="grid-table">
            <!-- <td width="25% " rowspan="2"> 　</td>
            <td width="25% " colspan="2"> 　</td> -->
      <tr class="page1">
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr class="page2">
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr class="page3">
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
      <tr>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
        <td width="10%"> 　</td>
      </tr>
    </table>
    <!-- <div class="ui center aligned container">
      <br><br>
      <button type="submit" class="ui huge teal button" href="{% url 'grid' %}"><i class="send icon"></i>Confirm
      </button>
      <a class="ui huge inverted orange basic button" href="{% url 'select' %}">Back</a>
    </div> -->
  </div>

  <script type="text/javascript" src="/static/jquery-buzz.js"></script>
  <script type="text/javascript" src="/static/sound.js"></script>
  {# todo: specify the focus id; add to the allString after drop; overlap judgement #}
  <script type="text/javascript">
    var utterThis = new window.SpeechSynthesisUtterance();
    utterThis.text = 'layout page';
    utterThis.lang = 'en';
    window.speechSynthesis.speak(utterThis);
    var unitWidth = $(".grid-table").width() / 10;
    var unitHeight = $(".grid-table").height() / 12;
    var marginLeft, marginTop, width, height;
    var curPage = 1;
    $(".text-block").each(function(){
      marginLeft = (parseInt($(this).attr("x")) * unitWidth).toString() + 'px';
      $(this).css("margin-left", marginLeft);
      marginTop = (parseInt($(this).attr("y")) * unitHeight + 20).toString() + 'px';
      $(this).css("margin-top", marginTop);
      width = (parseInt($(this).attr("width")) * 10).toString() + 'vw';
      $(this).css("width", width);
      height = (parseInt($(this).attr("height")) * 15).toString() + 'vh';
      $(this).css("height", height);
    });
    $(".pic-block").each(function(){
      marginLeft = (parseInt($(this).attr("x")) * unitWidth).toString() + 'px';
      $(this).css("margin-left", marginLeft);
      marginTop = (parseInt($(this).attr("y")) * unitHeight + 20).toString() + 'px';
      $(this).css("margin-top", marginTop);
      width = (parseInt($(this).attr("width")) * 10).toString() + 'vw';
      $(this).css("width", width);
      height = (parseInt($(this).attr("height")) * 15).toString() + 'vh';
      $(this).css("height", height);
    });
    var blockWidth = parseInt({{ object.block.width }});
    var blockHeight = parseInt({{ object.block.height }});
    var type = "{{ type }}";
    var curRow = 0, curColumn = 0;
    var margin;
    var focus = "null";  //null, row, column, both
    var focusColumn = 0, focusRow = 0, focusObject = parseInt({{ object.block.id }});
    var columnKey = [49, 50, 51, 52, 53, 54, 55, 56, 57, 48]; //1, 2, 3, 4, 5, 6, 7, 8, 9, 0
    var rowKey = [192, 9, 20, 16] // ``, tab, caps lock, shift
    var shift = 0;
    var allString = ("{{ all }}").split(";");
    var allDict = new Array();
    for (var i = 0; i < allString.length; i++) {
      item = allString[i].split(",");
      allDict[i] = {'id': item[0], 'x': item[1], 'y': item[2]};
    }
    function setBlock(params) {
      focus = "both";
      curRow = focusRow;
      curColumn = focusColumn;
      if (focusObject !== -1) {
        margin = (curRow * unitHeight + 20).toString() + 'px';
        $(".current").css("margin-top", margin)
        margin = (curColumn * unitWidth).toString() + 'px';
        $(".current").css("margin-left", margin);
        for (var i = 0; i < allDict.length; i++) {
          if (parseInt(allDict[i]['x']) === curColumn && parseInt(allDict[i]['y']) === curRow && parseInt(allDict[i]['id']) !== focusObject) {
            playOverlapSound();
          }
        }
      } else {
        var objectNum = 0;
        for (var i = 0; i < allDict.length; i++) {
          if (parseInt(allDict[i]['x']) === focusColumn && parseInt(allDict[i]['y']) === focusRow) {
            objectNum++;
          }
        }
        utterThis.text = (objectNum).toString() + "objects";
        window.speechSynthesis.speak(utterThis);
      }
    }
    document.addEventListener("keydown", function(e){
      shift = e.location;
    });
    $(document).keydown(function (event) {
//      var left = $(".text-block").css("margin-left");
//      left = parseFloat(left.slice(0, -2));
      unitWidth = $(".grid-table").width() / 10;
      unitHeight = $(".grid-table").height() / 12;
      playMoveSound();
      if (event.keyCode === 37) {   // left
        if (curColumn > 0) {
          curColumn--;
          margin = (curColumn * unitWidth).toString() + 'px';
          $(".current").css("margin-left", margin);
        }
      } else if (event.keyCode === 39) { // right
        if (curColumn + blockWidth < 10) {
          curColumn++;
          margin = (curColumn * unitWidth).toString() + 'px';
          $(".current").css("margin-left", margin);
        }
      } else if (event.keyCode === 38) {   // up
        if (curRow > 0) {
          curRow--;
          margin = (curRow * unitHeight + 20).toString() + 'px';
          $(".current").css("margin-top", margin);
        }
      } else if (event.keyCode === 40) { // down
        if (curRow + blockHeight < 12) {
          curRow++;
          margin = (curRow * unitHeight + 20).toString() + 'px';
          $(".current").css("margin-top", margin);
        }
      } else if (event.keyCode === 32) {   // space: set position
        event.preventDefault();
        $.post("{% url 'grid' %}",{'x':curColumn, 'y':curRow, 'id': focusObject}, function(e){
          $(".current").removeClass('current');
          playDropSound();
          for (var i = 0; i < allDict.length; i++) {
            if (parseInt(allDict[i]['id']) === focusObject) {
              allDict[i]['x'] = (focusColumn).toString();
              allDict[i]['y'] = (focusRow).toString();
            }
          }
          focusObject = -1;
          focus = "null";
        });
      } else if (event.keyCode === 220) {  // \: enter
        if (focus === "both" && focusObject === -1) {
          for (var i = 0; i < allDict.length; i++) {
            if (parseInt(allDict[i]['x']) === focusColumn && parseInt(allDict[i]['y']) === focusRow) {
              var id = "#" + allDict[i]['id'];
              utterThis.text = "i d " + (allDict[i]['id']).toString();
              window.speechSynthesis.speak(utterThis);
              $(id).addClass('current');
              curRow = focusRow;
              curColumn = focusColumn;
              focusObject = parseInt(allDict[i]['id']);
            }
          }
        }
      } else if (event.keyCode === 13) {  // enter: page up
        if (curPage > 1) {
          curPage--;
        }
        utterThis.text = "page " + (curPage).toString();
        window.speechSynthesis.speak(utterThis);
        var pageClass = ".page" + (curPage).toString();
        $('html, body').animate({
          scrollTop: $(pageClass).offset().top
        }, 500);
      } else if (event.keyCode === 16 && shift === 2) {  // shift: page down
        if (curPage < 3) {
          curPage++;
        }
        utterThis.text = "page " + (curPage).toString();
        window.speechSynthesis.speak(utterThis);
        var pageClass = ".page" + (curPage).toString();
        $('html, body').animate({
          scrollTop: $(pageClass).offset().top
        }, 500);
        shift = 0;
      } else if (columnKey.indexOf(event.keyCode) >= 0) {
        focusColumn = columnKey.indexOf(event.keyCode);
        utterThis.text = "column " + (focusColumn + 1).toString();
        window.speechSynthesis.speak(utterThis);
        if (focus === "null" || focus === "both") {
          focus = "column";
        } else if (focus === "row") {
          setBlock();
        }
      } else if (rowKey.indexOf(event.keyCode) >= 0 && shift !== 2) {
        focusRow = rowKey.indexOf(event.keyCode) + (curPage - 1) * 4;
        utterThis.text = "row " + (focusRow + 1).toString();
        window.speechSynthesis.speak(utterThis);
        if (focus === "null" || focus === "both") {
          focus = "row";
        } else if (focus === "column") {
          setBlock();
        }
      }
    });
  </script>
{% endblock %}
