<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script src="/static/jquery.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
    <script src="/static/semantic.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>SPRITEs</title>
</head>
<body>

<div class="container">
  <div class="grid header">
    <div class="ui borderless main menu fixed" style="position: fixed; top: 0px; z-index: 10;">
      <div class="ui text container">
        <div class="header item">
          SPRITEs Project
        </div>
        <a href="{% url 'index' %}" class="item">Index</a>
        <a href="{% url 'page' %}" class="item">Pages</a>
      </div>
    </div>
  </div>
  <div class="grid content">
    {% if sectionNum == 0 %}
      <div class='content-section' style="height:80vh;">NoSections</div>
    {% endif %}
    {% for item in section %}
      <div class='content-section'>
        {% for block in item.blocks %}
          {% if block.content_type == 'text' %}
            <div class="text-block block" x="{{ block.pos_x }}" y="{{ block.pos_y }}"
                width="{{ block.width }}" height="{{ block.height }}" id="{{ block.id }}" section="{{ item.section }}"
                style="font-size: {{ block.font_size }}; color: {{ block.font_color }}; background-color: {{ block.background_color }};">
              {{ block.text_content }}
            </div>
          {% elif block.content_type == 'pic' %}
            <div class="pic-block block" x="{{ block.pos_x }}" y="{{ block.pos_y }}"
                width="{{ block.width }}" height="{{ block.height }}" id="{{ block.id }}" section="{{ item.section }}">
              <img src="..{{ block.pic_content.url }}">
            </div>
          {% endif %}
        {% endfor %}
        <table class="grid-container" id='section{{ item.section }}'>
          {% for row in item.height %}
            <tr>
              {% for column in item.width %}
                <td> 　</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endfor %}
  </div>
  <div class="grid sidebar">
    <div class="ui sticky fixed top">
      <h4 class="ui header">Sidebar</h4>
      <div class="ui vertical following fluid accordion text menu">
        {% for item in section %}
          <div class="item"><a class="title" href="#section{{ item.section }}">
            <i class="dropdown icon"></i> <b>Section {{ item.section }}</b></a>
            <div class="content menu">
              {% for block in item.blocks %}
                <a class="item" href="#">Widget {{ block.id }}</a>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="grid footer">
    <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <div class="ui horizontal inverted small divided link list">
          <a class="item" href="#">Site Help</a>
          <a class="item" href="#">Contact Us</a>
          <a class="item" href="#">Terms and Conditions</a>
          <a class="item" href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui basic modal">
  <div class="ui icon header">
    <i class="table icon"></i>
    Add New Section
  </div>
  <div class="content">
    <form method="post" action="{% url 'section' pageId %}" class="ui inverted form" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="field">
          <label>Size</label>
          <div class="two fields">
            <div class="field">
              <div class="ui big left icon input">
                <input type="text" name="width" id="width" placeholder="Width" required/>
              </div>
            </div>
            <div class="field">
              <div class="ui big input">
                <input type="text" name="height" id="height" placeholder="Height" required/>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Name</label>
          <div class="ui big input">
            <input type="text" name="name" id="name" placeholder="Name" required/>
          </div>
        </div>
      <div class="ui center aligned container actions">
        <br>
        <button type="submit" class="ui huge teal ok button" id="confirm">
          <i class="add icon"></i>Create New Section
        </button>
        <a class="ui huge inverted orange basic cancel button" id="cancel">Cancel</a>
      </div>
    </form>
  </div>
</div>
</body>
</html>

<script type="text/javascript" src="/static/jquery-buzz.js"></script>
<script type="text/javascript" src="/static/sound.js"></script>
{# todo: specify the focus id; add to the allString after drop; overlap judgement #}
<script type="text/javascript">
  var utterThis = new window.SpeechSynthesisUtterance();
  // utterThis.text = 'layout page';
  utterThis.lang = 'en';
  // window.speechSynthesis.speak(utterThis);
  $(document).ready(function(){
     $('.ui.accordion').accordion();
  });
  var sectionNum = {{ sectionNum }}, sectionColumn, sectionRow;
  var allString = ("{{ all }}").split(";");
  var allDict = new Array();
  for (var i = 0; i < allString.length; i++) {
    item = allString[i].split(",");
    allDict[i] = {'section': item[0], 'width': item[1], 'height': item[2]};
  }
  for (var i = 0; i < allDict.length; i++) {
    sectionColumn = parseInt(allDict[i]['width']);
    var gridLength = (80 / sectionColumn).toString() + "vw";
    var id = '#section' + (i + 1).toString() + ' tr';
    $(id).css("height", gridLength);
  }
  var marginLeft, marginTop, width, height;
  $(".block").each(function(){
    var sectionIndex = parseInt($(this).attr("section"));
    sectionColumn = parseInt(allDict[sectionIndex - 1]['width']);
    marginLeft = (parseInt($(this).attr("x")) * 80 / sectionColumn).toString() + 'vw';
    $(this).css("margin-left", marginLeft);
    marginTop = (parseInt($(this).attr("y")) * 80 / sectionColumn).toString() + 'vw';
    $(this).css("margin-top", marginTop);
    width = (parseInt($(this).attr("width")) * 80 / sectionColumn).toString() + 'vw';
    $(this).css("width", width);
    height = (parseInt($(this).attr("height")) * 80 / sectionColumn).toString() + 'vw';
    $(this).css("height", height);
  });
  $('#' + ({{ current }}).toString()).addClass('current');
  var curUnit = 1, unitNum = 0, curSection = 1;
  var curLevel = "page"; // page, container, section, block
  var curBox = "page";  // page, header, body, sidebar, footer, section1, section2, block1, block2
  var blockWidth = 0;
  var blockHeight = 0;
  var type = "{{ type }}";
  var curRow = 0, curColumn = 0;
  var margin;
  var focus = "null";  //null, row, column, both
  var focusColumn = 0, focusRow = 0, focusObject = -1;
  var columnKey = [49, 50, 51, 52, 53, 54, 55, 56, 57, 48]; //1, 2, 3, 4, 5, 6, 7, 8, 9, 0
  var rowKey = [192, 9, 20, 16] // ``, tab, caps lock, shift
  var shift = 0;
  function setBlock() {
    focus = "both";
    curRow = focusRow;
    curColumn = focusColumn;
    if (focusObject !== -1) {
      margin = (curRow * 80 / sectionColumn).toString() + 'vw';
      $(".current").css("margin-top", margin)
      margin = (curColumn * 80 / sectionColumn).toString() + 'vw';
      $(".current").css("margin-left", margin);
      $(".block").each(function(){
        var sectionIndex = parseInt($(this).attr("section"));
        var blockX = parseInt($(this).attr("x"));
        var blockY = parseInt($(this).attr("y"));
        if (sectionIndex === curSection && blockX === curColumn && blockY  === curRow) {
          playOverlapSound();
        }
      });
    } else {
      var objectNum = 0;
      $(".block").each(function(){
        var sectionIndex = parseInt($(this).attr("section"));
        var blockX = parseInt($(this).attr("x"));
        var blockY = parseInt($(this).attr("y"));
        if (sectionIndex === curSection && blockX === curColumn && blockY  === curRow) {
          objectNum++;
        }
      });
      utterThis.text = (objectNum).toString() + "objects";
      window.speechSynthesis.speak(utterThis);
    }
  }
  document.addEventListener("keydown", function(e){
    shift = e.location;
  });
  function enterSection() {
    sectionColumn = parseInt(allDict[curSection - 1]['width']);
    sectionRow = parseInt(allDict[curSection - 1]['height']);
    var curUnit = 1;
    unitNum = Math.ceil(sectionRow / 4);
    focusObject = -1;
    $(".current").each(function(){
      $(this).removeClass('current');
    });
  }
  function keyFunctionPage(keyCode) {
    if (keyCode === 220) {  // \: enter
      utterThis.text = "enter" + curBox;
      window.speechSynthesis.speak(utterThis);
      if (curBox === "body") {
        utterThis.text = (sectionNum).toString() + " sections";
        window.speechSynthesis.speak(utterThis);
        if (sectionNum > 0) {
          curSection = 1;
        }
      }
      if (curBox !== 'page') {
        curLevel = "container";
      }
      focus = "null";
      focusColumn = 0;
      focusRow = 0;
    } else if (columnKey.indexOf(keyCode) >= 0) {
      if (focus === "null") {
        utterThis.text = "select the row first";
        window.speechSynthesis.speak(utterThis);
      } else {
        if (focusRow === 0) {
          if (keyCode === 49) {
            curBox = "header";
            focus = "both";
            utterThis.text = curBox;
            window.speechSynthesis.speak(utterThis);
          } else {
            utterThis.text = "only 1 column";
            window.speechSynthesis.speak(utterThis);
          }
        } else if (focusRow === 1) {
          if (keyCode === 49) {
            curBox = "body";
            focus = "both";
            utterThis.text = curBox;
            window.speechSynthesis.speak(utterThis);
          } else if (keyCode === 50) {
            curBox = "sidebar";
            focus = "both";
            utterThis.text = curBox;
            window.speechSynthesis.speak(utterThis);
          } else {
            utterThis.text = "only 2 columns";
            window.speechSynthesis.speak(utterThis);
          }
        } else if (focusRow === 2) {
          if (keyCode === 49) {
            curBox = "footer";
            focus = "both";
            utterThis.text = curBox;
            window.speechSynthesis.speak(utterThis);
          } else {
            utterThis.text = "only 1 column";
            window.speechSynthesis.speak(utterThis);
          }
        }
      }
    } else if (rowKey.indexOf(keyCode) >= 0 && shift !== 2) {
      curBox = "page";
      if (keyCode === 16) {
        utterThis.text = "only 3 rows";
        window.speechSynthesis.speak(utterThis);
      } else {
        focusRow = rowKey.indexOf(keyCode);
        focus = "row";
        utterThis.text = "row " + (focusRow + 1).toString();
        window.speechSynthesis.speak(utterThis);
      }
    } else if (keyCode === 27) { // Esc
      window.location.href = "{% url 'page' %}";
    } else if (keyCode === 8) { // Delete
    }
  }
  function keyFunctionContainer(keyCode) {
    if (curBox === "body") {
      if (keyCode === 220) {  // \: enter
        curLevel = "section";
        curBox = "section" + (curSection).toString()
        utterThis.text = "enter " + curBox;
        window.speechSynthesis.speak(utterThis);
        enterSection();
      } else if (keyCode === 13) {  // enter: page up
        if (curSection > 1) {
          curSection--;
        }
        utterThis.text = "section " + (curSection).toString();
        window.speechSynthesis.speak(utterThis);
        var sectionId = "#section" + (curSection).toString();
        $('html, body').animate({
          scrollTop: $(sectionId).offset().top - 50
        }, 500);
      } else if (keyCode === 16 && shift === 2) {  // shift: page down
        if (curSection < sectionNum) {
          curSection++;
        }
        utterThis.text = "section " + (curSection).toString();
        window.speechSynthesis.speak(utterThis);
        var sectionId = "#section" + (curSection).toString();
        $('html, body').animate({
          scrollTop: $(sectionId).offset().top - 50
        }, 500);
        shift = 0;
      } if (keyCode === 27) { // Esc
        curLevel = "page";
        curBox = "page";
        utterThis.text = "enter" + curBox;
        window.speechSynthesis.speak(utterThis);
      } else if (keyCode === 187) { // Add
        utterThis.text = "add section";
        window.speechSynthesis.speak(utterThis);
        $('.ui.basic.modal')
          .modal('show')
        ;
      } else if (keyCode === 8) { // Delete
      }
    } else {
      if (keyCode === 27) { // Esc
        curLevel = "page";
        curBox = "page";
        utterThis.text = "enter" + curBox;
        window.speechSynthesis.speak(utterThis);
      } else {
        utterThis.text = curBox;
        window.speechSynthesis.speak(utterThis);
      }
    }
  }
  function keyFunctionSection(keyCode) {
    if (keyCode === 37) {   // left
      if (curColumn > 0) {
        curColumn--;
        margin = (curColumn * 80 / sectionColumn).toString() + 'vw';
        $(".current").css("margin-left", margin);
      }
    } else if (keyCode === 39) { // right
      if (curColumn + blockWidth < sectionColumn) {
        curColumn++;
        margin = (curColumn * 80 / sectionColumn).toString() + 'vw';
        $(".current").css("margin-left", margin);
      }
    } else if (keyCode === 38) {   // up
      if (curRow > 0) {
        curRow--;
        margin = (curRow * 80 / sectionColumn).toString() + 'vw';
        $(".current").css("margin-top", margin);
      }
    } else if (keyCode === 40) { // down
      if (curRow + blockHeight < sectionRow) {
        curRow++;
        margin = (curRow * 80 / sectionColumn).toString() + 'vw';
        $(".current").css("margin-top", margin);
      }
    } else if (keyCode === 32) {   // space: set position
      $.post("{% url 'layout' pageId %}",{'x':curColumn, 'y':curRow, 'id': focusObject}, function(e){
        $(".current").removeClass('current');
        playDropSound();
        $(".block").each(function(){
          if (parseInt($(this).attr("id")) === focusObject) {
            $(this).attr("x", (curColumn).toString());
            $(this).attr("y", (curRow).toString());
          }
        });
        focusObject = -1;
        focus = "null";
      });
    } else if (keyCode === 220) {  // \: enter
      if (focus === "both" && focusObject === -1) {
        $(".block").each(function(){
          var sectionIndex = parseInt($(this).attr("section"));
          var blockX = parseInt($(this).attr("x"));
          var blockY = parseInt($(this).attr("y"));
          if (sectionIndex === curSection && blockX === focusColumn && blockY  === focusRow) {
            utterThis.text = "i d " + ($(this).attr("id")).toString();
            window.speechSynthesis.speak(utterThis);
            $(this).addClass('current');
            blockWidth = parseInt($(this).attr("width"));
            blockHeight = parseInt($(this).attr("height"))
            curRow = focusRow;
            curColumn = focusColumn;
            focusObject = parseInt($(this).attr("id"));
          }
        });
      }
    } else if (keyCode === 13) {  // enter: unit up
      if (curUnit > 1) {
        curUnit--;
      }
      utterThis.text = "unit " + (curUnit).toString();
      window.speechSynthesis.speak(utterThis);
      // var pageClass = ".page" + (curPage).toString();
      // $('html, body').animate({
      //   scrollTop: $(pageClass).offset().top
      // }, 500);
    } else if (keyCode === 16 && shift === 2) {  // shift: unit down
      if (curUnit < unitNum) {
        curUnit++;
      }
      utterThis.text = "unit " + (curUnit).toString();
      window.speechSynthesis.speak(utterThis);
      // var pageClass = ".page" + (curPage).toString();
      // $('html, body').animate({
      //   scrollTop: $(pageClass).offset().top
      // }, 500);
      shift = 0;
    } else if (columnKey.indexOf(keyCode) >= 0) {
      if (columnKey.indexOf(keyCode) < sectionColumn) {
        focusColumn = columnKey.indexOf(keyCode);
        utterThis.text = "column " + (focusColumn + 1).toString();
        window.speechSynthesis.speak(utterThis);
        if (focus === "null" || focus === "both") {
          focus = "column";
        } else if (focus === "row") {
          setBlock();
        }
      } else {
        utterThis.text = "only " + (sectionColumn).toString() + "columns";
        window.speechSynthesis.speak(utterThis);
      }
    } else if (rowKey.indexOf(keyCode) >= 0 && shift !== 2) {
      if (rowKey.indexOf(keyCode) + (curUnit - 1) * 4 < sectionRow) {
        focusRow = rowKey.indexOf(keyCode) + (curUnit - 1) * 4;
        utterThis.text = "row " + (focusRow + 1).toString();
        window.speechSynthesis.speak(utterThis);
        if (focus === "null" || focus === "both") {
          focus = "row";
        } else if (focus === "column") {
          setBlock();
        }
      } else {
        utterThis.text = "only " + (sectionRow).toString() + "rows";
        window.speechSynthesis.speak(utterThis);
      }
    } else if (keyCode === 27) { // Esc
      curLevel = "container";
      curBox = "body";
      utterThis.text = "enter" + curBox;
      window.speechSynthesis.speak(utterThis);
    } else if (keyCode === 187) { // Add
      window.location.href = "/plana/select/" + allDict[curSection - 1]['section'];
    } else if (keyCode === 8) { // Delete
    }
  }
  $(document).keydown(function (event) {
    playMoveSound();
    var keyCode = event.keyCode;
    if (curLevel === "page") {
      keyFunctionPage(keyCode);
    } else if (curLevel === "container") {
      keyFunctionContainer(keyCode);
    } else if (curLevel === "section") {
      event.preventDefault();
      keyFunctionSection(keyCode);
    }
  });
  $('#width').focus(function() {
    utterThis.text = 'width';
    window.speechSynthesis.speak(utterThis);
  });
  $('#height').focus(function() {
    utterThis.text = 'height';
    window.speechSynthesis.speak(utterThis);
  });
  $('#name').focus(function() {
    utterThis.text = 'name';
    window.speechSynthesis.speak(utterThis);
  });
  $('#confirm').focus(function() {
    utterThis.text = 'confirm';
    window.speechSynthesis.speak(utterThis);
  });
  $('#cancel').focus(function() {
    utterThis.text = 'cancel';
    window.speechSynthesis.speak(utterThis);
  });
</script>
