{% extends 'base.html' %}
{% block content %}
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a href="{% url 'index' %}" class="item" id='home'>Home</a>
      <a href="{% url 'page' %}" class="active item" id='plan-a'>PlanA</a>
      <a href="{% url 'page-b' %}" class="item" id='plan-b'>PlanB</a>
    </div>
  </div>
  <div class="ui inverted vertical masthead center aligned segment">
      <br>
      <h2>Please select a page to edit or add a new page.</h2>
      <div class="ui text container">
        <table class="ui inverted celled structured table">
          <thead>
            <tr>
              <th>Pages</th>
              <th>Header</th>
              <th>Body</th>
              <th>SideBar</th>
              <th>Footer</th>
            </tr>
          </thead>
          <tbody>
            {% for page in pages %}
              <tr>
                <td><a href="{% url 'layout' page.id %}"> Page {{ forloop.counter }}</a></td>
                <td class="center aligned">
                  <i class="large green checkmark icon"></i>
                </td>
                <td class="center aligned" id="{{ forloop.counter }}" page-id="{{ page.id }}">
                  {{ page.section_num }} sections
                </td>
                <td class="center aligned">
                  <i class="large green checkmark icon"></i>
                </td>
                <td class="center aligned">
                  <i class="large green checkmark icon"></i>
                </td>
              <tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="ui center aligned container">
          <br>
          <a class="ui huge teal button" id="confirm" href="{% url 'new-page' %}">New Page</a>
          <a class="ui huge inverted orange basic button" href="{% url 'index' %}" id="back">Back</a>
        </div>
      </div>
    </div>

    <div class="ui basic modal">
      <div class="ui icon header" id="delete-title">
      </div>
      <div class="content">
        <p id="delete-hint"></p>
      </div>
      <div class="actions">
        <a class="ui green ok inverted button" id="delete" href="">
          <i class="checkmark icon"></i>
          Yes
        </a>
        <button class="ui red basic cancel inverted button" id="cancel" onclick="alterModal()">
          <i class="remove icon"></i>
          No
        </button>
      </div>
    </div>

  <script type="text/javascript" src="/static/jquery-buzz.js"></script>
  <script type="text/javascript" src="/static/sound.js"></script>
  <script type="text/javascript">
    var utterThis = new window.SpeechSynthesisUtterance();
    utterThis.text = 'pages';
    utterThis.lang = 'en';
    window.speechSynthesis.speak(utterThis);
    var columnKey = [49, 50, 51, 52, 53, 54, 55, 56, 57, 48]; //1, 2, 3, 4, 5, 6, 7, 8, 9, 0
    var rowKey = [192, 9, 20, 16] // ``, tab, caps lock, shift
    var columnContent = ["pages", "header", "body", "side bar", "footer"];
    var shift = 0;
    var curUnit = 1;
    var pageNum = {{ num }};
    var focus = "null", focusColumn, focusRow;
    var modal = 0;
    function alterModal() {
      modal = 0;
    }
    document.addEventListener("keydown", function(e){
      shift = e.location;
    });
    $(document).keydown(function (event) {
      playMoveSound();
      if (modal === 0) {
        event.preventDefault();
        if (event.keyCode === 220) {  // \: enter
          if (focus == "row" || focus == "both") {
            utterThis.text = "enter page" + (focusRow + 1).toString();
            window.speechSynthesis.speak(utterThis);
            window.location.href = "/plana/layout/" + (focusRow + 1).toString();
          }
        } else if (event.keyCode === 13) {  // enter: unit up
          if (curUnit > 1) {
            curUnit--;
          }
          utterThis.text = "unit " + (curUnit).toString();
          window.speechSynthesis.speak(utterThis);
        } else if (event.keyCode === 16 && shift === 2) {  // shift: unit down
          if (curUnit < pageNum) {
            curUnit++;
          }
          utterThis.text = "unit " + (curUnit).toString();
          window.speechSynthesis.speak(utterThis);
          shift = 0;
        } else if (columnKey.indexOf(event.keyCode) >= 0) {
          if (columnKey.indexOf(event.keyCode) < 5) {
            focusColumn = columnKey.indexOf(event.keyCode);
            if (focus === "null" || focus === "both") {
              focus = "column";
              utterThis.text = columnContent[focusColumn];
              window.speechSynthesis.speak(utterThis);
            } else if (focus === "row") {
              if (focusColumn == 2) {
                utterThis.text = $("#" + (focusRow + 1).toString()).text();
                window.speechSynthesis.speak(utterThis);
              } else {
                utterThis.text = columnContent[focusColumn];
                window.speechSynthesis.speak(utterThis);
              }
            }
          } else {
            utterThis.text = "only 5 columns";
            window.speechSynthesis.speak(utterThis);
          }
        } else if (rowKey.indexOf(event.keyCode) >= 0 && shift !== 2) {
          if (rowKey.indexOf(event.keyCode) + (curUnit - 1) * 4 < pageNum) {
            focusRow = rowKey.indexOf(event.keyCode) + (curUnit - 1) * 4;
            utterThis.text = "page " + (focusRow + 1).toString();
            window.speechSynthesis.speak(utterThis);
            if (focus === "null" || focus === "both") {
              focus = "row";
            } else if (focus === "column") {
              focus = "both";
            }
          } else {
            utterThis.text = "only " + (pageNum).toString() + "pages";
            window.speechSynthesis.speak(utterThis);
          }
        } else if (event.keyCode === 187) {  // add new page
          window.location.href = "{% url 'new-page' %}";
        } else if(event.keyCode == 27) {  // back
          window.location.href = "{% url 'index' %}";
        } else if (event.keyCode === 8) { // Delete
          if (focus !== "null") {
            utterThis.text = "delete page" + (focusRow + 1).toString();
            window.speechSynthesis.speak(utterThis);
            $("#delete-title").html("<i class='archive icon'></i>Delete Page");
            var deleteHint = "You are tring to delete page " + (focusRow + 1).toString()
                            + ". Are you sure to delete this page and the contents in it?";
            $("#delete-hint").html(deleteHint);
            var deleteInfo = "/plana/delete/p" + (focusRow + 1).toString();
            $("#delete").attr('href', deleteInfo);
            $('.ui.basic.modal')
              .modal('show')
            ;
            modal = 1;
          }
        }
      } else if (modal === 1) {
        event.preventDefault();
        if (event.keyCode === 32) {  // space: confirm
          utterThis.text = "confirm";
          window.speechSynthesis.speak(utterThis);
          var id = $("#" + (focusRow + 1).toString()).attr("page-id");
          window.location.href = "/plana/delete/p" + (id).toString();
        } if (event.keyCode === 27) {  // esc: cancel
          utterThis.text = "cancel";
          window.speechSynthesis.speak(utterThis);
          $("#cancel").click();
        }
      }

    });
  </script>
{% endblock %}
