{% extends 'base.html' %}
{% block content %}
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a href="{% url 'index' %}" class="item" id='home'>Home</a>
      <a href="{% url 'page' %}" class="active item" id='plan-a'>PlanA</a>
      <a href="{% url 'grid-b' %}" class="item" id='plan-b'>PlanB</a>
    </div>
  </div>
  <div class="ui inverted vertical masthead center aligned segment">
      <br>
      <div class="ui ordered steps">
        <div class="active step">
          <div class="content">
            <div class="title">Page</div>
            <div class="description">Choose the page to edit.</div>
          </div>
        </div>
        <div class="disabled step">
          <div class="content">
            <div class="title">Section</div>
            <div class="description">Choose the section to edit.</div>
          </div>
        </div>
        <div class="disabled step">
          <div class="content">
            <div class="title">Widget</div>
            <div class="description">Select and specify the widget.</div>
          </div>
        </div>
      </div>
      <div class="ui text container">
        <br>
        <table class="ui inverted celled structured table">
          <thead>
            <tr>
              <th rowspan="2">Pages</th>
              <th colspan="4" class="center aligned">Parts</th>
            </tr>
            <tr>
              <th>Header</th>
              <th>Body</th>
              <th>SideBar</th>
              <th>Footer</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Page 1</td>
              <td class="center aligned">
                <i class="large green checkmark icon"></i>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Page 2</td>
              <td></td>
              <td class="center aligned">
                <i class="large green checkmark icon"></i>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="ui center aligned container">
          <br>
          <a class="ui huge teal button" href="{% url 'part' %}" id="confirm">New Page</a>
          <a class="ui huge inverted orange basic button" href="{% url 'select' %}" id="back">Back</a>
        </div>
      </div>
    </div>

  <script type="text/javascript">
    var utterThis = new window.SpeechSynthesisUtterance();
    utterThis.text = 'specify the size and content of picture widget';
    window.speechSynthesis.speak(utterThis);
    $('#home').focus(function() {
      utterThis.text = 'home';
      window.speechSynthesis.speak(utterThis);
    });
    $('#plan-a').focus(function() {
      utterThis.text = 'plan a';
      window.speechSynthesis.speak(utterThis);
    });
    $('#plan-b').focus(function() {
      utterThis.text = 'plan b';
      window.speechSynthesis.speak(utterThis);
    });
    $('#width').focus(function() {
      utterThis.text = 'width';
      window.speechSynthesis.speak(utterThis);
    });
    $('#height').focus(function() {
      utterThis.text = 'height';
      window.speechSynthesis.speak(utterThis);
    });
    $('#name').focus(function() {
      utterThis.text = 'name';
      window.speechSynthesis.speak(utterThis);
    });
    $('#upload_pic').focus(function() {
      utterThis.text = 'upload picture';
      window.speechSynthesis.speak(utterThis);
    });
    $('#confirm').focus(function() {
      utterThis.text = 'confirm';
      window.speechSynthesis.speak(utterThis);
    });
    $('#back').focus(function() {
      utterThis.text = 'back';
      window.speechSynthesis.speak(utterThis);
    });
    $(document).keydown(function (event) {
      if (event.keyCode === 220) {   // \: enter
        if (utterThis.text === "confirm") {
          $("#confirm").click();
        } else if (utterThis.text === "back") {
          window.location.href = "{% url 'page' %}";
        }
      }
    });
  </script>
{% endblock %}
