{% extends 'base.html' %}
{% block content %}
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a href="{% url 'index' %}" class="item">Home</a>
      <a href="{% url 'select' %}" class="active item">PlanA</a>
      <a href="{% url 'select' %}" class="item">PlanB</a>
    </div>
  </div>
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <br><br>
      <h2>Specify the size and content of pic widget.</h2>
      <div class="ui text container">
        <div class="ui divided grid">
          <div class="eight wide column">
            <div class="ui card">
              <a class="image">
                <img src="/static/picture.png">
              </a>
              <div class="content">
                <a class="header">Pic</a>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <form method="post" action="{% url 'pic' %}" class="ui inverted form" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="field">
                <label>Size</label>
                <div class="two fields">
                  <div class="field">
                    <div class="ui big left icon input">
                      <input type="text" name="width" placeholder="Width" required/>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui big input">
                      <input type="text" name="height" placeholder="Height" required/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Name</label>
                <div class="ui big input">
                  <input type="text" name="name" placeholder="Please input the pic name..." required/>
                </div>
              </div>
              <div class="field">
                <label>Upload File</label>
                <input type="file" class="form-control" id="upload_pic" name="upload_pic">
              </div>
              <div class="ui center aligned container">
                <br>
                <button type="submit" class="ui huge teal button" href="{% url 'grid' %}"><i class="send icon"></i>Confirm
                </button>
                <a class="ui huge inverted orange basic button" href="{% url 'select' %}">Back</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}