<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script src="/static/jquery.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
    <script src="/static/semantic.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>SPRITEs</title>
</head>
<body>
<div class="container">
  <div class="grid header">
    <div class="ui borderless main menu fixed" style="position: fixed; top: 0px; z-index: 10;">
      <div class="ui text container">
        <a href="{% url 'index' %}" class="item" id='home'>Home</a>
        <a href="{% url 'page' %}" class="item" id='plan-a'>PlanA</a>
        <a href="{% url 'grid-b' %}" class="item" id='plan-b'>PlanB</a>
        <a href="{% url 'playbox' %}" class="active item">PlayBox</a>
      </div>
    </div>
  </div>
  <img style="margin-top: 50px; margin-left: 150px; position: absolute;" src="/static/loading.gif" id="loading">
  <img style="margin-left: -150px; margin-top: 50px; position: absolute; display: none;" src="/static/left.gif" id="left">
  <img style="margin-left: 400px; display: none;" src="/static/right.gif" id="right">
  <p style="margin-top: 600px; position: absolute; font-size: 40px; margin-left: 550px;"><span id='result'></span></p>
</div>
</body>
</html>

<script type="text/javascript">
  var utterThis = new window.SpeechSynthesisUtterance();
  utterThis.text = 'playbox';
  utterThis.lang = 'en';
  window.speechSynthesis.speak(utterThis);
  var keys = []
  $(document).keydown(function (event) {
    event.preventDefault();
    if (event.keyCode >= 65 && event.keyCode <= 90) {
      keys.push(event.keyCode);
      if (keys.length > 5) {
        key = ''
        for (var i = 0; i < keys.length; i++) {
          key += keys[i];
          key += ',';
        }
        $.post("{% url 'playbox' %}",{'key': key}, function(ret){
          if (ret.result === 'left') {
            $("#right").hide();
            $("#loading").hide();
            $("#left").css("margin-left", "200px");
            $("#left").show();
          } else if (ret.result === 'right') {
            $("#left").hide();
            $("#loading").hide();
            $("#right").css("margin-left", "200px");
            $("#right").show();
          } else if (ret.result === 'both') {
            $("#loading").hide();
            $("#left").css("margin-left", "-150px");
            $("#right").css("margin-left", "400px");
            $("#left").show();
            $("#right").show();
          } else {
            $("#left").hide();
            $("#right").hide();
            $("#loading").show();
          }
         $('#result').html(ret.result);
         keys = [];
        });
      } else {
        $("#left").hide();
        $("#right").hide();
        $("#loading").show();
      }
    } else {
      $("#left").hide();
      $("#right").hide();
      $("#loading").show();
    }
  });
</script>
