{% extends 'base.html' %}
{% block content %}
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a href="{% url 'index' %}" class="item" id='home'>Home</a>
      <a href="{% url 'select' %}" class="active item" id='plan-a'>PlanA</a>
      <a href="{% url 'grid-b' %}" class="item" id='plan-b'>PlanB</a>
    </div>
  </div>
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <br>
      <div class="ui ordered steps">
        <div class="completed step">
          <div class="content">
            <div class="title">Page</div>
            <div class="description">Choose the page to edit.</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Section</div>
            <div class="description">Choose the section to edit.</div>
          </div>
        </div>
        <div class="disabled step">
          <div class="content">
            <div class="title">Widget</div>
            <div class="description">Select and specify the widget.</div>
          </div>
        </div>
      </div>
      <div class="ui text container">
        <br>
        <div class="ui divided grid">
          <div class="sixteen wide column">
            <form method="post" action="{% url 'pic' %}" class="ui inverted form" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="field">
                  <label>Size</label>
                  <div class="two fields">
                    <div class="field">
                      <div class="ui big left icon input">
                        <input type="text" name="width" id="width" placeholder="Width" required/>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui big input">
                        <input type="text" name="height" id="height" placeholder="Height" required/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label>Name</label>
                  <div class="ui big input">
                    <input type="text" name="name" id="name" placeholder="Name" required/>
                  </div>
                </div>
              <div class="ui center aligned container">
                <br>
                <button type="submit" class="ui huge teal button" href="{% url 'grid' %}" id="confirm">
                  <i class="add icon"></i>Create New Section
                </button>
                <a class="ui huge inverted orange basic button" href="{% url 'select' %}" id="back">Back</a>
              </div>
            </form>
          </div>
          <div class="ui inverted horizontal divider">
            Or
          </div>
          <div class="sixteen wide column">
            <div class="ui inverted relaxed divided list">
              <a class="item" href="{% url 'select' %}">
                <div class="content">
                  Section name 1
                </div>
              </a>
              <a class="item">
                <div class="content">
                  Section name 2
                </div>
              </a>
              <a class="item">
                <div class="content">
                  Section name 3
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var utterThis = new window.SpeechSynthesisUtterance();
    utterThis.text = 'specify the size and content of picture widget';
    window.speechSynthesis.speak(utterThis);
    $('#home').focus(function() {
      utterThis.text = 'home';
      window.speechSynthesis.speak(utterThis);
    });
    $('#plan-a').focus(function() {
      utterThis.text = 'plan a';
      window.speechSynthesis.speak(utterThis);
    });
    $('#plan-b').focus(function() {
      utterThis.text = 'plan b';
      window.speechSynthesis.speak(utterThis);
    });
    $('#width').focus(function() {
      utterThis.text = 'width';
      window.speechSynthesis.speak(utterThis);
    });
    $('#height').focus(function() {
      utterThis.text = 'height';
      window.speechSynthesis.speak(utterThis);
    });
    $('#name').focus(function() {
      utterThis.text = 'name';
      window.speechSynthesis.speak(utterThis);
    });
    $('#upload_pic').focus(function() {
      utterThis.text = 'upload picture';
      window.speechSynthesis.speak(utterThis);
    });
    $('#confirm').focus(function() {
      utterThis.text = 'confirm';
      window.speechSynthesis.speak(utterThis);
    });
    $('#back').focus(function() {
      utterThis.text = 'back';
      window.speechSynthesis.speak(utterThis);
    });
    $(document).keydown(function (event) {
      if (event.keyCode === 220) {   // \: enter
        if (utterThis.text === "confirm") {
          $("#confirm").click();
        } else if (utterThis.text === "back") {
          window.location.href = "{% url 'select' %}";
        }
      }
    });
  </script>
{% endblock %}
