{% extends 'base.html' %}
{% block content %}
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header">
                One-Click Search
            </h1>
            <h2>Upload your policy and check with one click.</h2>
            <form method="POST" action="{% url 'select' %}" class="ui large form">
                {% csrf_token %}
                <div class="field">
                    <div class="ui left icon input">
                        <i class="share alternate icon"></i>
                        <input maxlength="254" name="url" placeholder="Your policy url" type="text" required/>
                    </div>
                </div>
                <button type='submit' class="ui huge teal button">Upload <i class="right arrow icon"></i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}