{% extends 'base.html' %}
{% block content %}
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a href="{% url 'index' %}" class="item">Home</a>
      <a href="{% url 'select' %}" class="item">PlanA</a>
      <a href="{% url 'grid-b' %}" class="active item">PlanB</a>
    </div>
  </div>
  <div class="ui inverted vertical masthead center aligned segment">
    <h2>Please select a widget.</h2>
    <div class="ui four column doubling stackable grid container">
      <div class="column">
        <div class="ui card">
          <a class="image" href="{% url 'pic-b' %}">
            <img src="/static/picture.png">
          </a>
          <div class="content">
            <a class="header" href="{% url 'pic-b' %}">Pic</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <a class="image" href="{% url 'text-b' %}">
            <img src="/static/text.png">
          </a>
          <div class="content">
            <a class="header" href="{% url 'text-b' %}">Text</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <a class="image" href="#">
            <img src="/static/input.png">
          </a>
          <div class="content">
            <a class="header" href="#">Input</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <a class="image" href="#">
            <img src="/static/button.png">
          </a>
          <div class="content">
            <a class="header" href="#">Button</a>
          </div>
        </div>
      </div>
    </div>
    <div class="ui four column doubling stackable grid container">
      <div class="column">
        <div class="ui card">
          <a class="image" href="#">
            <img src="/static/music.png">
          </a>
          <div class="content">
            <a class="header" href="#">Music</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <a class="image" href="#">
            <img src="/static/menu.png">
          </a>
          <div class="content">
            <a class="header" href="#">Menu</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <a class="image" href="#">
            <img src="/static/filter.png">
          </a>
          <div class="content">
            <a class="header" href="#">Filter</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <a class="image" href="#">
            <img src="/static/chart.png">
          </a>
          <div class="content">
            <a class="header" href="#">Chart</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var utterThis = new window.SpeechSynthesisUtterance();
    utterThis.text = 'press one to eight to select a widget type';
    window.speechSynthesis.speak(utterThis);
    $(document).keydown(function (event) {
      if (event.keyCode === 49) {   // Pic
        utterThis.text = 'picture';
        window.speechSynthesis.speak(utterThis);
      } else if (event.keyCode === 50) { // Text
        utterThis.text = 'text';
        window.speechSynthesis.speak(utterThis);
      } else if (event.keyCode === 51) { // Input
        utterThis.text = 'input';
        window.speechSynthesis.speak(utterThis);
      } else if (event.keyCode === 52) { // Button
        utterThis.text = 'button';
        window.speechSynthesis.speak(utterThis);
      } else if (event.keyCode === 53) { // Music
        utterThis.text = 'music';
        window.speechSynthesis.speak(utterThis);
      } else if (event.keyCode === 54) { // Menu
        utterThis.text = 'menu';
        window.speechSynthesis.speak(utterThis);
      } else if (event.keyCode === 55) { // Filter
        utterThis.text = 'filter';
        window.speechSynthesis.speak(utterThis);
      } else if (event.keyCode === 56) { // Chart
        utterThis.text = 'chart';
        window.speechSynthesis.speak(utterThis);
      } else if (event.keyCode === 220) { // Enter
        if (utterThis.text === "picture") {
          window.location.href = "{% url 'pic-b' %}";
        } else if (utterThis.text === "text") {
          window.location.href = "{% url 'text-b' %}";
        }
      }
    });
  </script>
{% endblock %}
